* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.livro {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    padding: 50px;
    background-color: rgb(217, 187, 132);
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    border: 5px double rgb(217, 151, 113);
}
.img {
    width: auto;
    height: 200px;
    background-color: yellow;
}
.nome {
    margin: 10px 0;
}
hr {
    margin: 10px 0;
}