@media screen and (min-width:768px){

*{
    margin:0;
    padding:0;
}

.h2createPost {
    text-align: center;
}

.createPost {
    margin: auto;
    margin-top: 50px;
    width:100%;
    max-width: 800px;
    padding: 50px;
    background-color: rgb(217, 187, 132);
    box-shadow: 0 0 5px 0 black;
    border-radius: 10px;
    border: 5px double rgb(217, 151, 113);
    margin-top:20px;

}

.createPost div {
    margin:10px 0;
}

.createPost div label {
    display: flex;
}

.createPost div input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 10px;
}

.cols {
    display:flex;
    justify-content: space-between;
    padding-top:20px;

}

.col1 {  
   width:48%;
}

.col2 {
    width:48%;
}

.createPost .cols input, .cols select {
    padding: 8px 10px;
    width: 100%;
    margin-top:5px;
}

.botaoCreatePost {

    margin: 10px 10px 0 0;
    padding: 10px;
    color: white;
    background-color: rgb(166, 105, 91);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}

.botaoResetPost {
    margin: 10px 10px 0 0;
    padding: 10px;
    color: white;
    background-color: rgb(166, 105, 91);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
}
}

@media screen and (max-width:767px){

    *{
        margin:0;
        padding:0;
    }
    
    .h2createPost {
        text-align: center;
    }
    
    .createPost {
        margin: auto;
        margin-top: 50px;
        width:100%;
        padding: 30px;
        background-color: rgb(217, 187, 132);
        box-shadow: 0 0 5px 0 black;
        border-radius: 10px;
        border: 5px double rgb(217, 151, 113);
        
    }
    
    .createPost div {
        margin:20px 0;
    }
    
    .createPost div label {
        display: flex;
    }

    .createPost div input {
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 12px 20px 12px 10px;
    }
    
    .createPost .cols input, .cols select {
        padding: 8px 10px;
        width: 100%;
        margin-top:5px;
    }
    
    .botaoCreatePost {
        display:block;
        margin: 10px 10px 0 0;
        padding: 10px;
        color: white;
        background-color: rgb(166, 105, 91);
        border: 0;
        cursor: pointer;
        border-radius: 4px;
    }
   
    .botaoResetPost {
        margin: 10px 10px 0 0;
        padding: 10px;
        color: white;
        background-color: rgb(166, 105, 91);
        border: 0;
        cursor: pointer;
        border-radius: 4px;
    }
    }