* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-track {
  background: #a6695b;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #a6695b;
}
